

body, html {
    margin: 25px 0; /* Add 25px margin to top and bottom */
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-weight: 100; /* Specify font weight as Thin */
    font-size: 16px;
    color: midnightblue; /* Change font color to midnight blue */
}
.smaller {
    font-size: 80%;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Keep the table layout fixed */
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-family: 'Roboto', sans-serif; /* Match the font family */
    font-size: 16px; /* Match the font size */
}



/* Responsive styles */
@media screen and (max-width: 576px) {
    /* Styles for mobile phones */
    table {
        font-size: 12px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    /* Styles for tablets */
    table {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for laptops */
    table {
        font-size: 16px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* Styles for desktops */
    table {
        font-size: 18px;
    }
}

@media screen and (min-width: 1201px) {
    /* Styles for monitors */
    table {
        font-size: 20px;
    }
}
